<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="org.availlang.raa.Application" />
    <module name="WebServer" />
    <option name="WORKING_DIRECTORY" value="file://$PROJECT_DIR$" />
    <RunnerSettings RunnerId="Run" />
    <ConfigurationWrapper RunnerId="Run" />
    <method />
  </configuration>
</component>